#   When editing .md files w/ Phpstorm, it's quite often that Tom
# leaves whitespace at the end of lines. Most likely b/c Phpstorm
# is not precise here for .md or it's just that Tom does not
# configures Phpstorm properly. Anyway, Tom prefers Git for
# development over Phpstorm, therefore Tom gives it a filter:
#
#   $ git config --global filter.space-removal-at-eol.clean 'sed -e "s/ \+$//"'
#

*.md filter=space-removal-at-eol
