<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheTokens="false"
        defaultTestSuite="unit"
        cacheResultFile="build/cache/.phpunit.result.cache"
        >
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
            <directory suffix=".phpt" phpVersion="5.4.0" phpVersionOperator=">=">tests/unit/PharBuild/phpt</directory>
            <directory suffix=".phpt" phpVersion="5.4.0" phpVersionOperator=">=">tests/unit/phpt</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="build/html" lowUpperBound="70" highLowerBound="100"/>
        <log type="testdox-html" target="build/html/testdox.html"/>
    </logging>
</phpunit>
